* {
    outline: none;
    border: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

#tabs-wrapper > button.active {
    --tw-border-opacity: 1;
    border-color: rgb(8 145 178 / var(--tw-border-opacity));
}

#tabs-content > div.active {
    visibility: visible;
}
